/* -----------------------------------------
* APP SIDEBAR
-------------------------------------------*/
@use '../vars' as *;

.app-sidebar {
    flex: 0 0 $sidebar-width-sm;
    height: 100vh;

    background-color: $col-dark-500;

    &-logo {
        padding: 0 1rem;
        height: $header-height;

        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $col-gray-800;
    }

    &-menu {
        padding: 1rem 0;
        height: calc(100vh - $header-height);

        border: 1px solid $col-gray-800;
        border-top: none;

        a {
            padding: 1rem;
            min-height: 49px;

            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: $col-gray-600;

            &:hover,
            &.active {
                background-color: $col-gray-500;
                color: $col-dark;
            }
        }

        .dropend a::after {
            display: none;
        }

    }
}

@media screen and (min-width: 768px) {
    .app-sidebar {
        flex: 0 0 $sidebar-width-lg;

        &-logo {
            justify-content: flex-start;
        }
    }
}