/* -----------------------------------------
* VARIABLES
-------------------------------------------*/

// Colors
$col-light: #fff;

$col-gray-300: #f5f5f5;
$col-gray-500: #d9d9d9;
$col-gray-700: #9fa2a1;
$col-gray-900: #58585b;

$col-dark: #2d2d2d;

$col-emerald-300: #aafed9;
$col-emerald-500: #7accae;
$col-emerald-700: #04af81;


// Layout
$sidebar-width: 60px;