/* -----------------------------------------
* VARIABLES
-------------------------------------------*/

// Colors
$col-light: #fff;
$col-gray-100: #f8f9fa;
$col-gray-200: #e9ecef;
$col-gray-300: #dee2e6;
$col-gray-400: #cbd1db;
$col-gray-500: #aeb7c5;
$col-gray-600: #7987a1;
$col-gray-700: #41516c;
$col-gray-800: #212a3a;
$col-gray-900: #060c17;

$col-dark-300: #172340;
$col-dark-500: #0c1427;
$col-dark: #070d19;

// Bootstrap Custom Theme Colors
$col-primary: #6571ff;
$col-secondary: $col-gray-600;
$col-success: #05a34a;
$col-info: #66d1d1;
$col-warning: #fbbc06;
$col-danger: #ff3366;

// Pink/White Theme Colors (Alternative Theme - GC Logo inspired)
$col-pink-50: #faf7f8;
$col-pink-100: #f5eef0;
$col-pink-200: #e8d5d9;
$col-pink-300: #d9b8bd;
$col-pink-400: #c9999e;
$col-pink-500: #b8898e;  // Main pink from logo
$col-pink-600: #a67278;
$col-pink-700: #8b5d62;
$col-pink-800: #6d474b;
$col-pink-900: #4a3032;

// Pink Theme Semantic Colors
$col-pink-primary: $col-pink-500;
$col-pink-secondary: $col-pink-400;
$col-pink-accent: $col-pink-600;
$col-pink-light: $col-pink-100;
$col-pink-dark: $col-pink-800;


// Layout
$sidebar-width-sm: 60px;
$sidebar-width-lg: 240px;
$header-height: 60px;