/* -----------------------------------------
* MAIN STYLE
-------------------------------------------*/

// Bootstrap
@use '~bootstrap/scss/bootstrap';


// BASE
@use '~resources/scss/base/generics';


// COMMONS
@use '~resources/scss/commons/app-header';
@use '~resources/scss/commons/app-main';
@use '~resources/scss/commons/app-modal';
@use '~resources/scss/commons/app-sidebar';
@use '~resources/scss/commons/app-messages';


// COMPONENTS
@use '~resources/scss/components/btn';
@use '~resources/scss/components/calendar';
@use '~resources/scss/components/card';
@use '~resources/scss/components/checkbox-list';
@use '~resources/scss/components/dropdown';
@use '~resources/scss/components/form';
@use '~resources/scss/components/indicator';
@use '~resources/scss/components/pagination';
@use '~resources/scss/components/profile-icon';
@use '~resources/scss/components/stat-card';
@use '~resources/scss/components/table';


// THEME - Pink/White (GC Logo inspired)
// Uncomment the line below to activate the pink theme
@use '~resources/scss/theme-pink';


// Style Loader
body {
    display: block
}