/* -----------------------------------------
* BUTTONS
-------------------------------------------*/
@use '../vars' as *;

.btn {
    padding: 0.5rem 0.75rem;

    &.btn-circle {
        width: 2.5em;
        height: 2.5em;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    &.btn-primary {
        background-color: $col-primary;

        &:hover {
            filter: brightness(0.9);
        }
    }

    &.btn-secondary {
        background-color: $col-secondary;

        &:hover {
            filter: brightness(0.9);
        }
    }

    &.btn-success {
        background-color: $col-success;

        &:hover {
            filter: brightness(0.9);
        }
    }

    &.btn-info {
        background-color: $col-info;

        &:hover {
            filter: brightness(0.9);
        }
    }

    &.btn-warning {
        background-color: $col-warning;

        &:hover {
            filter: brightness(0.9);
        }
    }

    &.btn-danger {
        background-color: $col-danger;

        &:hover {
            filter: brightness(0.9);
        }
    }
}