/* -----------------------------------------
* BUTTONS
-------------------------------------------*/
@use '../vars' as *;

.btn {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    &.btn-circle {
        width: 2.5em;
        height: 2.5em;

        border-radius: 50%;
    }
}